@mixin content-font($color: $main-font-color, $family: $main-font) {
    color: $color;
    font-family: $family;
    line-height: 1.5em;
}

@mixin header-font($color: $hot-pink, $family: $heading-font) {
    color: $color;
    font-family: $family;
}

@mixin space ($margin: 0.5em, $padding: 0.5em) {
    margin: $margin;
    padding: $padding;
}

@mixin main-positioning {
    position: relative;
    top: 0px;
    @include space (0, 0 0 60px 0)
}

@mixin button-border {
    border: 1px solid $box-color;
}

@mixin icons {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    @include space;

    li {
        margin-right: 20px;
        line-height: 4em;
    }

    i {
    font-size: 3.5em;
}
}

@mixin social-media {
    max-width: 350px;
    margin: 0 auto;

    a {
        color: $main-font-color;

        &:hover {
            color: $hot-pink;
        }
    }

    i {
        font-size: 2em;

        @include biggest-screen {
            font-size: 3.5em;
        }
    }

    @include biggest-screen {
        max-width: 650px;
    }
}

@mixin big-screen {
    @media screen and (min-width: 768px) and (min-height: 461px) {
        @content;
    }
}

@mixin biggest-screen {
    @media screen and (min-width: 1281px) {
        @content;
    }

}

@mixin wide-screen {
    @media screen and (max-height: 460px) {
        @content;
    }
}

@mixin dark-link {
    a {
        color: $secondary-bg-color;
    }

    a:hover {
        color: $hot-pink;
    }
}

@mixin light-link {
    a {
        color: $main-font-color;

        &:hover {
            color: $light-hot-pink;
        }
    }
}

@mixin big-screen-box {
    background-color: $main-font-color;
    color: $dark-font-color;
    max-width: 700px;
}


@mixin box-shadow {
    -webkit-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
}

@mixin ease {
    transition: all 0.3s ease;
}

@mixin button-hover {
    background-color: $hot-pink;
    border: 1px solid $main-bg-color;
    color: $main-bg-color;
}