// Design Colours
$main-font-color: #F0F8FF;
$dark-font-color: black;
$main-bg-color: #000080;
$secondary-bg-color: #0a319f;
$hot-pink: #FC5185;
$light-hot-pink: #FFCCE6;
$box-color: #3FC1C9;


// Fonts
$heading-font: 'Muli', sans-serif;
$main-font: 'Open Sans', sans-serif;