// Font Colours
$main-font-color: #F0F8FF;
$dark-font-color: black;


// Design Colours
$main-bg-color: #000080;
$hot-pink: #FC5185;
$box-color: #3FC1C9;


// Fonts
$heading-font: 'Oxygen', sans-serif;
$monospace-font: 'Fira Mono', monospace;
$main-font: 'Open Sans', sans-serif;

//

