// ABOUT
#about {
    background-color: $main-bg-color;
    grid-area: about;
    @include main-positioning;
    .box {
        background-color: $main-bg-color;
        max-width: 800px;

        @include biggest-screen {
            @include big-screen-box;
        }
    }
}

.techstack {
    @include icons;
}

#about-head:hover .fa-terminal:before {
    content: "\f2c2";
}