// CONTACT
#contact {
    grid-area: contact;
    @include main-positioning;
    @include space(0, 0 0 10px 0);
    .box {
        background-color: transparent;
        @include content-font;
        max-width: 650px;
        margin: 0 auto;

        @include big-screen {
            @include space(0 auto, 0 4em 4em 4em)
        }
    }
}

#email-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    textarea {
        height: 100px;
    }

    input {
        padding: 0.3em;
    }

    input[type=submit] {
        padding: 1em;
        border-radius: 1em;
        max-width: 300px;
        align-self: flex-end;
    }

    input[type=submit]:hover {
        background-color: $hot-pink;
        color: $main-bg-color;
        border-color:  $main-bg-color;
    }
}

.form-label {
    display: none;
}

.contact-head:hover .fa-terminal:before {
    content: "\f0e0";
}