// HEADER
#header {
    grid-area: header;
    @include main-positioning;
    height: 100vh;
    text-align: center;
    padding: 0;
    i {
        font-size: 1em;
    }

}

.social-top {
    font-size: 1.5em;
    @include space(0,0);
    justify-content: center;
    li {
        line-height: 1em;
        @include space(0 7px, 0)
    }
}

#header-title:hover .fa-terminal:before {
    content: "\f5fc";
}

// BUTTON
#about-button {
    @include content-font($box-color);
    display: inline-block;
    border: 1px solid $box-color;
    @include space;
    width: 200px;
        transition: all 0.3s ease;
    a {
        color: $box-color;
        text-decoration: none;
    }
}

#about-button:hover {
    background-color: $hot-pink;
    border: 1px solid $main-font-color;
    color: $main-font-color;
}

#about-button:hover .fa-angle-right:before {
    content: "\f107";
}
