// HEADER
#header {
    grid-area: header;
    @include main-positioning;
    height: 100vh;
    text-align: center;
    padding: 0;
    i {
        font-size: 1em;
    }

    h3 {
        color: $hot-pink;
    }
}

.social-top {
    font-size: 1.5em;
    @include space(0,0);
    justify-content: center;

    li {
        line-height: 1em;
        @include space(0 7px, 0)
    }
}

#header-title:hover .fa-terminal:before {
    content: "\f5fc";
}

// BUTTON
#about-button {
    @include content-font($box-color);
    display: inline-block;
    @include button-border;
    @include space;
    width: 200px;
    @include ease;
    a {
        color: $box-color;
    }
}

#about-button:hover {
    @include button-hover;
}

#about-button:hover .fa-angle-right:before {
    content: "\f107";
}
