


// Sections


// HEADER
#header {
    grid-area: header;
    @include main-positioning;
    height: 50vh;
    text-align: center;
    padding: 50% 0;
}

// ABOUT
#about {
    background-color: $main-bg-color;
    grid-area: about;
    @include main-positioning;
    .box {
        background-color: $main-bg-color;
        @include content-font;
    }
}

// PROJECTS
#projects {
    background-color: $box-color;
    grid-area: projects;
    @include main-positioning;
}

// SPEAKING
#speaking {
    background-color: $main-bg-color;
    grid-area: speaking;
    @include main-positioning;
}

// WRITING
#writing {
    background-color: $main-bg-color;
    grid-area: writing;
    @include main-positioning;
}

// CONTACT
#contact {
    background-color: $main-bg-color;
    grid-area: contact;
    @include main-positioning;
}
