// NAV MENU
#nav {
    text-align: right;
    height: 50px;
    line-height: 60px;
    grid-area: nav;
    position: fixed;
    width: 100%;
    z-index: 1;
    @include header-font;

    @include wide-screen {
        line-height: 40px;
    }

    @include big-screen {
        position: sticky;
        top: 0;
        background-color: $hot-pink;
        height: auto;
        line-height: 50px;
    }

    label {
        z-index: 2;
        position: relative;
        display: block;
        cursor: pointer;
        color: $hot-pink;
        @include space(0, 0 0.8em);
        font-size: 2em;
        @include big-screen {
            display: none;
        }
    }

    #toggle {
        display: none;
    }

    .menu {
        text-align: center;
        width: 100px;
        font-weight: bold;
        position:absolute;
        right:0;
        top:0;
        z-index:1;
        max-height:0;
        overflow:hidden;
        transform: perspective(200) rotate3d(1,0,0, -90deg);
        transform-origin: 50% 0;
        transition:350ms;

        #my-name {
            background-color: $main-bg-color;
            font-size: 1.5em;
            z-index: -1;
            position: relative;

            @include big-screen {
                display: none;
            }
        }

        a {
        display: block;
        border-bottom: 1px solid $main-bg-color;
        margin: 0px;
        background-color: $hot-pink;
        color: $main-bg-color;

        @include big-screen {
            border: none;
            @include space(0, 0 4.3vw);
            transition: background-color .75s, box-shadow .30s;

            &:hover {
                background-color: $secondary-bg-color;
                box-shadow: 0px 0px 0px 5px $light-hot-pink;
                color: $main-font-color;
            }
        }
        }

        @include big-screen {
            display: flex;
            justify-content: space-around;
            width: auto;
            @include space (0, 0em);
            position: relative;
            left: 0px;
            width: 100%;
            max-height:100px;
            transform:perspective(400) rotate3d(0,0,0,0);
        }
    }

    #toggle:checked + .menu {
        width: 100%;
        @include space (0, 0);
        display: flex;
        flex-direction: column;
        position: absolute;


        max-height:1000px;
        transform:perspective(400) rotate3d(0,0,0,0);

    }
    .menu:focus {
        display: none;
    }

    #menu-logo {
        display: none;
        @include big-screen {
            display: inline-block;
            color: $main-bg-color;
        }
    }
}

.menu-icon:hover .fa-bars:before {
    content: "\f805";
}

#menu-logo:hover .fa-terminal:before {
    content: "\f5fc";
}