#container {
    // background-image: url(/images/bg.jpg);
    // background-repeat: repeat;
    // background-attachment: fixed;

    // gradient background - from https://www.colorzilla.com/gradient-editor/
    background: #000080;
background: -moz-linear-gradient(45deg,  #000080 0%, #0075d6 62%, #000080 100%);
background: -webkit-linear-gradient(45deg,  #000080 0%,#0075d6 62%,#000080 100%);
background: linear-gradient(45deg,  #000080 0%,#0075d6 62%,#000080 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000080', endColorstr='#000080',GradientType=1 );

    @include content-font;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "nav"
        "header"
        "about"
        "projects"
        "speaking"
        "writing"
        "contact"
        "footer";
    justify-content: center;

    @include big-screen {
        grid-template-areas:
            "header"
            "nav"
            "about"
            "projects"
            "speaking"
            "writing"
            "contact"
            "footer";
    }
}

h1 {
    @include header-font;
    @include space;
}

h2 {
    @include header-font;
    @include space;

    @include big-screen {
        @include space(70px 8em 0.5em);
    }
}

img {
    max-width: 100%;
}

a {
    color: $hot-pink;
    text-decoration: none;
    &:hover {
        color: $box-color;
        // background-color: $main-font-color;
    }
}

input, textarea {
    background-color: $main-bg-color;
    color: $main-font-color;
    border: $box-color 1px solid;
    margin: 0.5em;
    &::placeholder {
        color: $main-font-color;
    }
}

i {
    font-size: 1em;
}

ul {
    list-style: none;
}

.box {
    @include space(1em);
    background-color: $box-color;
    color: $dark-font-color;
    border-radius: 2em;
    @include big-screen {
        @include space (0em 3em, 3em)
    }
}

.wrapper {
    display: inline-block;
    padding: 50% 0;
    @include big-screen {
        padding: 25% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
}

#flex {
    @include big-screen {
        display: flex;
        width: 100%;
        align-items: flex-start;
        justify-content: space-evenly;
    }
}

// .parallax-section {
//     position: relative;
//     height: 20vh;
// }

// .parallax::after {
//   /* Display and position the pseudo-element */
//   content: " ";
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;

//   /* Move the pseudo-element back away from the camera,
//    * then scale it back up to fill the viewport.
//    * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
//   transform: translateZ(-1px) scale(1.5);
//   /* Force the background image to fill the whole element. */
//   background-size: 100%;
//   /* Keep the image from overlapping sibling elements. */
//   z-index: -1;
// }



// NAV MENU
#nav {
    text-align: right;
    height: 50px;
    line-height: 60px;
    grid-area: nav;
    // position: fixed;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;

    @include big-screen {
        border-bottom: 1px solid $main-font-color;
        background-color: $hot-pink;
        height: auto;
    }

    label {
        display: block;
        cursor: pointer;
        color: $hot-pink;
        @include space(0, 0 0.8em);
        font-size: 2em;
        @include big-screen {
            display: none;
        }
    }

    #toggle {
        display: none;
    }

    .menu {
        text-align: center;
        width: 100px;
        display: none;
        list-style: none;
        a {
        display: block;
        border-bottom: 1px solid $main-font-color;
        margin: 0px;
        background-color: $hot-pink;
        color: $main-font-color;
        // transform: scale(1, 0);
        // transition: transform 400ms ease-in-out;

        @include big-screen {
            border: none;
            @include space(0, 0 2em)

            &:hover {
                background-color: $box-color;

            }
        }
    }

        @include big-screen {
            display: flex;
            justify-content: space-around;
            width: auto;
            @include space (0, 0em);
            position: relative;
            left: 10px;
            width: 100%;
        }
    }

    #toggle:checked + .menu {
        width: 100%;
        @include space (0, 0);
        display: flex;
        flex-direction: column;
        position: absolute;

    }
    .menu:focus {
        display: none;
    }

    #menu-logo {
        display: none;
        @include big-screen {
            display: inline-block;
            i {
                font-size: 1em;
            }
        }
    }

}

// FOOTER
#footer {
    // background-color: $main-bg-color;
    grid-area: footer;
    @include main-positioning;
}

.social-media {
    @include icons;
    max-width: 700px;
    margin: 0 auto;
    a {
        color: $main-font-color;
        &:hover {
            color: $hot-pink;
        }
    }
}

small {
    display: flex;
    justify-content: center;
}

// ITEMS

.images {
    @include space(0, 0);
    border-radius: 2em;
    max-width: auto;
}

.image-wrapper-full {
    @include space(0, 0);
    @include big-screen {
        @include space(0 3em 3em, 0)
        order: 2;
        img {
            border-radius: 3em;
            max-width: 700px;
        }
    }
}