html {
    scroll-behavior: smooth;
}

#container {
    // gradient background - from https://www.colorzilla.com/gradient-editor/
    background: $main-bg-color;
    background: -moz-linear-gradient(45deg,  #000080 0%, #0075d6 62%, #000080 100%);
    background: -webkit-linear-gradient(45deg,  #000080 0%,#0075d6 62%,#000080 100%);
    background: linear-gradient(45deg,  #000080 0%,#0075d6 62%,#000080 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000080', endColorstr='#000080',GradientType=1 );

    @include content-font;
    scroll-behavior: smooth;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "nav"
        "header"
        "about"
        "projects"
        "speaking"
        "writing"
        "contact"
        "footer";
    justify-content: center;

    @include big-screen {
        grid-template-areas:
            "header"
            "nav"
            "about"
            "projects"
            "speaking"
            "writing"
            "contact"
            "footer";
    }

}

h1 {
    @include header-font;
    @include space;
}

h2 {
    @include header-font;
    @include space;

    @include big-screen {
        @include space(70px 8em 0.5em);
    }
}

a {
    color: $light-hot-pink;
    text-decoration: none;
    &:hover {
        color: $secondary-bg-color;
    }

    @include biggest-screen {
        color: $secondary-bg-color;

        &:hover {
            color: $hot-pink;
        }
    }
}

.inline-link {
    a:hover {
        background-color: $main-font-color;

    }


    @include biggest-screen {
        a:hover {
            background: none
        }
    }
}

input, textarea {
    background-color: $main-bg-color;
    color: $main-font-color;
    border: $box-color 1px solid;
    margin: 0.5em;
    &::placeholder {
        color: $main-font-color;
    }
}

i {
    font-size: 1em;
}

ul {
    list-style: none;
}

em {
    font-style: normal;
    background-color: $hot-pink;
}

.box {
    @include space(1em);
    background-color: $secondary-bg-color;
    color: $dark-font-color;
    @include big-screen {
        @include space (0, 4em);
    }
}

.wrapper {
    display: inline-block;
    padding: 50% 0;
    @include big-screen {
        padding: 25% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    @include biggest-screen {
        padding: 20% 0;
    }

    @include wide-screen {
        padding: 10% 0;
    }
}

.flex {
    @include big-screen {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    @include biggest-screen {
        background-color: $main-font-color;
        @include space(0, 30px 0);
        flex-direction: row;
        align-items: flex-start;
        width: auto;
    }
}

.social-media {
    @include icons;
    @include social-media;
}
