// PROJECTS
#projects {
    background-color: $secondary-bg-color;
    grid-area: projects;
    @include main-positioning;
    .box {
        background-color: $secondary-bg-color;
        @include content-font;
        @include space;

        @include big-screen {
            @include space(0, 0);
        }

        @include biggest-screen {
            @include big-screen-box;
            @include space(0,)
        }

    }
    h2 {
        color: $light-hot-pink;
    }

    h3 {
        font-size: 2em;
        line-height: 1.3em;
        @include header-font($main-font-color);
        i:hover {
            color: $light-hot-pink;
        }

        @include biggest-screen {
            @include header-font;

            i:hover {
                color: $secondary-bg-color;
            }
        }
    }


    @include biggest-screen {
        display: grid;
        grid-template-areas:
            "project-head project-head"
            "project-1 project-2 "
            "project-3 project-4 "
            "more-projects more-projects";

        align-items: start;
        grid-gap: 3em;
        justify-content: center;

        .project-image {
            align-self: center;
        }
    }
}

.project-box {
    border-bottom: 1px solid $main-font-color;

    &:nth-last-child(2) {
        border-bottom: none;
    }

    img {
        margin-top: 20px;
    }



    @include biggest-screen {
        flex-direction: column;
        border-bottom: none;
        background: #f0f8ff;
        background: -moz-linear-gradient(-45deg,  #f0f8ff 0%, #d3eaff 100%);
        background: -webkit-linear-gradient(-45deg,  #f0f8ff 0%,#d3eaff 100%);
        background: linear-gradient(135deg,  #f0f8ff 0%,#d3eaff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f8ff', endColorstr='#d3eaff',GradientType=1 );


        @include box-shadow;

        a {
            color: $secondary-bg-color;
        }

        a:hover {
            color: $hot-pink;
        }


        img {
            max-height: 500px;
        }

    }
}

.project-deets {
    @include big-screen {
        max-width: 670px;

    }
}

.project-links {
    @include icons;
    max-width: 700px;
    margin: 0 auto;

    ul {
        @include space(0,0);
    }

    a {
        color: $main-font-color;

        &:hover {
            color: $light-hot-pink;
        }
    }

    @include biggest-screen {
        a {
            color: $secondary-bg-color;

            &:hover {
                color: $hot-pink;
            }
        }
    }
}

#project-head {
    grid-area: project-head;

    @include biggest-screen {

        h2 {

        @include space(70px 1em 0.5em);
        }
    }

    &:hover .fa-terminal:before {
        content: "\f126";
    }
}

#project-1 {
    grid-area: project-1;
}

#project-2 {
    grid-area: project-2;
}

#project-3 {
    grid-area: project-3;
}

#project-4 {
    grid-area: project-4;
}

#more-projects {
    	display: flex;
	align-items: center;
    justify-content: center;
    grid-area: more-projects;

    a {
        color: $box-color;
    }

}


#more-projects-button {
	position: relative;
    border: 1px solid $box-color;
    @include space;

    &:hover {
        @include ease;
        @include button-hover;
    }
}

@keyframes moveArrow {

	0% {
		transform: translateX(0px);
	}

	49% {
		transform: translateX(50px);
	}

	50% {
		transform: translateX(-50px);
	}

	100% {
		transform: translateX(0px);
	}

}