// SPEAKING
#speaking {
    background-color: $main-bg-color;
    grid-area: speaking;
    @include main-positioning;
    @include content-list;
    .box {
        background-color: $main-bg-color;
        @include content-box;
    }
}

.speaking-head:hover .fa-terminal:before {
    content: "\f27a";
}