// WRITING
#writing {
    background-color: $secondary-bg-color;
    grid-area: writing;
    @include main-positioning;
    @include content-list;

    .box {
        background-color: $secondary-bg-color;
        @include content-box;
    }

    h2 {
        color: $light-hot-pink;
    }
}

.writing-head:hover .fa-terminal:before {
    content: "\f303";
}