// WRITING
#writing {
    background-color: $secondary-bg-color;
    grid-area: writing;
    @include main-positioning;
    @include content-list;

    .box {
        background-color: $secondary-bg-color;
        @include content-box;
    }

    h2, h3 {
        color: $light-hot-pink;
    }

    @include biggest-screen {
        h3 {
            color: $secondary-bg-color;
        }
    }
}

.writing-head:hover .fa-terminal:before {
    content: "\f303";
}