.shake-slow {
  display: inherit;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

/* .shake-freeze, */
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake-slow:hover,
.shake-trigger:hover .shake-slow {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes shake-slow {
  2% {
    -webkit-transform: translate(-10px, 14px) rotate(13deg);
            transform: translate(-10px, 14px) rotate(13deg);
  }
  4% {
    -webkit-transform: translate(-6px, -1px) rotate(-14deg);
            transform: translate(-6px, -1px) rotate(-14deg);
  }
  6% {
    -webkit-transform: translate(15px, 6px) rotate(6deg);
            transform: translate(15px, 6px) rotate(6deg);
  }
  8% {
    -webkit-transform: translate(15px, 0px) rotate(-3deg);
            transform: translate(15px, 0px) rotate(-3deg);
  }
  10% {
    -webkit-transform: translate(5px, 3px) rotate(1deg);
            transform: translate(5px, 3px) rotate(1deg);
  }
  12% {
    -webkit-transform: translate(10px, 13px) rotate(9deg);
            transform: translate(10px, 13px) rotate(9deg);
  }
  14% {
    -webkit-transform: translate(15px, -9px) rotate(10deg);
            transform: translate(15px, -9px) rotate(10deg);
  }
  16% {
    -webkit-transform: translate(-12px, -3px) rotate(-6deg);
            transform: translate(-12px, -3px) rotate(-6deg);
  }
  18% {
    -webkit-transform: translate(9px, 12px) rotate(-10deg);
            transform: translate(9px, 12px) rotate(-10deg);
  }
  20% {
    -webkit-transform: translate(14px, -4px) rotate(-8deg);
            transform: translate(14px, -4px) rotate(-8deg);
  }
  22% {
    -webkit-transform: translate(-7px, -9px) rotate(13deg);
            transform: translate(-7px, -9px) rotate(13deg);
  }
  24% {
    -webkit-transform: translate(12px, 1px) rotate(8deg);
            transform: translate(12px, 1px) rotate(8deg);
  }
  26% {
    -webkit-transform: translate(-6px, -3px) rotate(9deg);
            transform: translate(-6px, -3px) rotate(9deg);
  }
  28% {
    -webkit-transform: translate(-13px, -14px) rotate(4deg);
            transform: translate(-13px, -14px) rotate(4deg);
  }
  30% {
    -webkit-transform: translate(1px, -10px) rotate(4deg);
            transform: translate(1px, -10px) rotate(4deg);
  }
  32% {
    -webkit-transform: translate(9px, 0px) rotate(-7deg);
            transform: translate(9px, 0px) rotate(-7deg);
  }
  34% {
    -webkit-transform: translate(4px, -6px) rotate(6deg);
            transform: translate(4px, -6px) rotate(6deg);
  }
  36% {
    -webkit-transform: translate(11px, 5px) rotate(4deg);
            transform: translate(11px, 5px) rotate(4deg);
  }
  38% {
    -webkit-transform: translate(-13px, 0px) rotate(-5deg);
            transform: translate(-13px, 0px) rotate(-5deg);
  }
  0%, 40%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}

@keyframes shake-slow {
  2% {
    -webkit-transform: translate(-10px, 14px) rotate(13deg);
            transform: translate(-10px, 14px) rotate(13deg);
  }
  4% {
    -webkit-transform: translate(-6px, -1px) rotate(-14deg);
            transform: translate(-6px, -1px) rotate(-14deg);
  }
  6% {
    -webkit-transform: translate(15px, 6px) rotate(6deg);
            transform: translate(15px, 6px) rotate(6deg);
  }
  8% {
    -webkit-transform: translate(15px, 0px) rotate(-3deg);
            transform: translate(15px, 0px) rotate(-3deg);
  }
  10% {
    -webkit-transform: translate(5px, 3px) rotate(1deg);
            transform: translate(5px, 3px) rotate(1deg);
  }
  12% {
    -webkit-transform: translate(10px, 13px) rotate(9deg);
            transform: translate(10px, 13px) rotate(9deg);
  }
  14% {
    -webkit-transform: translate(15px, -9px) rotate(10deg);
            transform: translate(15px, -9px) rotate(10deg);
  }
  16% {
    -webkit-transform: translate(-12px, -3px) rotate(-6deg);
            transform: translate(-12px, -3px) rotate(-6deg);
  }
  18% {
    -webkit-transform: translate(9px, 12px) rotate(-10deg);
            transform: translate(9px, 12px) rotate(-10deg);
  }
  20% {
    -webkit-transform: translate(14px, -4px) rotate(-8deg);
            transform: translate(14px, -4px) rotate(-8deg);
  }
  22% {
    -webkit-transform: translate(-7px, -9px) rotate(13deg);
            transform: translate(-7px, -9px) rotate(13deg);
  }
  24% {
    -webkit-transform: translate(12px, 1px) rotate(8deg);
            transform: translate(12px, 1px) rotate(8deg);
  }
  26% {
    -webkit-transform: translate(-6px, -3px) rotate(9deg);
            transform: translate(-6px, -3px) rotate(9deg);
  }
  28% {
    -webkit-transform: translate(-13px, -14px) rotate(4deg);
            transform: translate(-13px, -14px) rotate(4deg);
  }
  30% {
    -webkit-transform: translate(1px, -10px) rotate(4deg);
            transform: translate(1px, -10px) rotate(4deg);
  }
  32% {
    -webkit-transform: translate(9px, 0px) rotate(-7deg);
            transform: translate(9px, 0px) rotate(-7deg);
  }
  34% {
    -webkit-transform: translate(4px, -6px) rotate(6deg);
            transform: translate(4px, -6px) rotate(6deg);
  }
  36% {
    -webkit-transform: translate(11px, 5px) rotate(4deg);
            transform: translate(11px, 5px) rotate(4deg);
  }
  38% {
    -webkit-transform: translate(-13px, 0px) rotate(-5deg);
            transform: translate(-13px, 0px) rotate(-5deg);
  }
  0%, 40%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}

.shake-slow:hover,
.shake-trigger:hover .shake-slow, .shake-slow.shake-freeze, .shake-slow.shake-constant {
  -webkit-animation-name: shake-slow;
          animation-name: shake-slow;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#arrow {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
}

#arrow:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
/*# sourceMappingURL=animations.css.map */