@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oxygen");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono");
#header {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: header;
  position: relative;
  top: 70px;
  height: 50vh;
  text-align: center;
  padding: 50% 0;
}

#about {
  background-color: #000080;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: about;
  position: relative;
  top: 70px;
}

#about .box {
  background-color: #000080;
  color: #F0F8FF;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5em;
}

#projects {
  background-color: #3FC1C9;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: projects;
  position: relative;
  top: 70px;
}

#speaking {
  background-color: #000080;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: speaking;
  position: relative;
  top: 70px;
}

#writing {
  background-color: #000080;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: writing;
  position: relative;
  top: 70px;
}

#contact {
  background-color: #000080;
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: contact;
  position: relative;
  top: 70px;
}

#container {
  background-image: url(/images/bg.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  color: #F0F8FF;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "nav" "header" "about" "projects" "speaking" "writing" "contact" "footer";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  color: #FC5185;
  font-family: "Oxygen", sans-serif;
  margin: 0.5em;
  padding: 0.5em;
}

h2 {
  color: #FC5185;
  font-family: "Oxygen", sans-serif;
  margin: 0.5em;
  padding: 0.5em;
}

img {
  max-width: 100%;
}

.box {
  margin: 1em;
  padding: 0.5em;
  background-color: #3FC1C9;
  color: black;
}

.wrapper {
  display: inline-block;
}

#nav {
  text-align: right;
  height: 70px;
  line-height: 70px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#nav label {
  display: block;
  cursor: pointer;
  color: #FC5185;
  margin: 0;
  padding: 0 0.8em;
  font-size: 2em;
}

#nav #toggle {
  display: none;
}

#nav .menu {
  text-align: center;
  width: 100px;
  display: none;
  list-style: none;
}

#nav .menu a {
  display: block;
  border-bottom: 1px solid #F0F8FF;
  margin: 0px;
  background-color: #FC5185;
  color: #F0F8FF;
}

#nav #toggle:checked + .menu {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}

#nav .menu:focus {
  display: none;
}

#footer {
  background-color: #000080;
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: footer;
}
/*# sourceMappingURL=style.css.map */