/* Main CSS Style Sheet for CarlieHamilton.com */

/* Clear Defaults */
* {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

html {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: navy;
    color: white;
}

.nav {
    border-bottom: 1px solid #eaeaea;
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    text-decoration: none;
    color: grey;
    margin: 0 10px;
    line-height: 70px;
}

label {
    margin: 0 40px 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    color: hotpink;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100px;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #eaeaeb;
        margin: 0px;
        background-color: hotpink;
        color: white;
    }
    #toggle:checked + .menu {
        display: block;
    }
}